name: Code Format Check

on:
    push:
        branches: [ "master" ]
    pull_request:
        branches: [ "master" ]

jobs:
    code-format:
        runs-on: ubuntu-latest
        
        steps:
            - name: Check out code
              uses: actions/checkout@v2

            - name: Setup .NET
              uses: actions/setup-dotnet@v1
              with:
                  dotnet-version: 7.0.x

            - name: Install dotnet-format tool
              run: dotnet tool install -g dotnet-format

            - name: Check Code Formatting
              run: dotnet format --severity error --verify-no-changes
